#UCF für GODIL 250/500 Modul mit XC3S250E XC3S500E VQ100

# godil40 timing contraints, Master Clock OSC 49.152 MHz
#NET SYSCLK PERIOD = 20.0ns ;
#OFFSET = IN 10 ns BEFORE SYSCLK ;
#OFFSET = OUT 10 ns AFTER SYSCLK ;
#TIMESPEC TS_P2P = FROM PADS TO PADS 10 ns ;

# inputs only
NET SYSCLK                    LOC=P89 | IOSTANDARD = LVCMOS33 ; # Master Clock OSC 49.152 MHz

NET SW1                       LOC=P39 | IOSTANDARD = LVCMOS33 | PULLUP  ;
NET SW2                       LOC=P69 | IOSTANDARD = LVCMOS33 | PULLUP ;
NET C13                       LOC=P38 | IOSTANDARD = LVCMOS33 | PULLUP ;
NET D13                       LOC=P88 | IOSTANDARD = LVCMOS33 | PULLUP ;
NET SOUT                      LOC=P13 | IOSTANDARD = LVCMOS33 | PULLUP ;
NET RTS                       LOC=P30 | IOSTANDARD = LVCMOS33 | PULLUP ;

# I/O's for uart & spi flash
NET SIN                       LOC=P43 | IOSTANDARD = LVCMOS33 ;
NET CTS                       LOC=P25 | IOSTANDARD = LVCMOS33 ;
NET CSO                       LOC=P24 | IOSTANDARD = LVCMOS33 ;
NET VS2                       LOC=P47 | IOSTANDARD = LVCMOS33 ;

# I/O's for test connector
NET TVS1                      LOC=P48 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET TVS0                      LOC=P49 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET TMOSI                     LOC=P27 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET TDIN                      LOC=P44 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET TCCLK                     LOC=P50 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET TM1                       LOC=P42 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET THSW                      LOC=P99 | IOSTANDARD = LVCMOS33 | DRIVE=16 ;

# user I/Os
 
NET "DCF77"  LOC = "P58"  | IOSTANDARD = LVCMOS33  | PULLUP  ;

NET "ZVID<0>"  LOC = "P2"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET "ZVID<1>"  LOC = "P3"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET "ZVID<2>"  LOC = "P98" | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET "ZVID<3>"  LOC = "P92" | IOSTANDARD = LVCMOS33 | DRIVE=16 ;

NET "DAC_A0"  LOC = "P86"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC_A1"  LOC = "P71"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET "DAC_WR"  LOC = "P70"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ;

NET "DAC<0>"  LOC = "P68"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<1>"  LOC = "P67"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<2>"  LOC = "P66"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<3>"  LOC = "P65"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<4>"  LOC = "P63"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ;
NET "DAC<5>"  LOC = "P62"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<6>"  LOC = "P61"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 
NET "DAC<7>"  LOC = "P60"  | IOSTANDARD = LVCMOS33 | DRIVE=16 ; 

NET "BUTTON<0>" LOC = "P4"  | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<1>" LOC = "P5"  | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<2>" LOC = "P90" | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<3>" LOC = "P9"  | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<4>" LOC = "P10" | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<5>" LOC = "P11" | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<6>" LOC = "P12" | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "BUTTON<7>" LOC = "P91" | IOSTANDARD = LVCMOS33 | PULLUP ; 

